{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

<div ng-app="AddScheduleApp" ng-controller="AddScheduleCtrl">
	<form id="formAddJob" name="formAddJob" action="/schedule/add/" method="POST" onsubmit="return SubmitCheckTextField()">
		<label>Jod ID:</label>&nbsp<input type="text" ng-model="schedule.jobid_list">
		<div class="form-group">
			 <div class="input-group date"  id="daypicker">
	            <input type="text" class="form-control" id="#date" ng-model="schedule.date_time" ng-click="updateTime()"><span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar" ng-click="updateTime()"></span>
				</span>
			</div>
		</div>
		<input type="button" name="create" id="submit" value="Create" ng-click="create_schedule()">
		<input type="button" name="Cancel" id="btnCancel" value="Cancel" ng-click="updateTime()">
	</form>
	{{'{{schedule}'}}}
</div>

<script type="text/javascript">
  var app = angular.module('AddScheduleApp', []);
  app.controller('AddScheduleCtrl', function($scope,$http,$window) {
    $scope.schedule={'jobid_list':'', 'date_time':''};
    $scope.create_schedule = function () {
      // console.log($scope.schedule);
      $http({
        method : 'POST',
        url : '/schedule/add/',
        data : $scope.schedule
      }).then(function(response){
        if(response.status == 203){
          $window.alert(response.data.detail);
        }
        else
          if (response.status == 202){
          	$window.alert(response.data.detail);
            $window.location.href='/schedule/';
          }
      });
    };
    $scope.updateTime = function(){
      // var da = angular.document.getElementById("date").text();
      var da = angular.element( document.getElementById('daypicker').firstElementChild);
      $scope.schedule.date_time = da.val();
      // $scope.da = 1;
      console.log($scope.schedule);
      // console.log($scope.da);
      // console.log(da.val());
    };
  });
</script>

<script type="text/javascript">
	$(document).ready(function () {
		// body...
		$('#daypicker').datetimepicker({
		    format: 'YYYY-MM-DD HH:mm:ss',
		    allowInputToggle: true,
        useCurrent: true
		});
	});
</script>
{% endblock %}

