{% extends 'base.html' %}
{% block content %}
<!-- Sroll table -->
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js""></script>
<div ng-app="schedule-detail" ng-controller="scheCtrl">
	<div class="content">
		<h2 class="sub-header">Schedule Detail</h2>
	</div>
	<div class="content">
		<div class="table-responsive col-md-12">
			<div class="body-left panel panel-default col-md-6">
				<div class="panel-heading">
		 			<h4>Schedule Detail</h4>
		 		</div>
		 		<div class="panel-body">
		 			<div class="tab-content">
		 				<ul class="list-group">
						  <li class="list-group-item"><label>Schedule Date: </label> <span style="margin-left: 50px;">{{'{{schedule.schedule_date*1000 | date:"dd-M-yyyy HH:mm:ss"}'}}}</span>
						  <br/><label>Server Date: </label> <span style="margin-left: 50px;">{{'{{schedule.svr_date*1000 | date:"dd-M-yyyy HH:mm:ss"}'}}}</span>
						  </li>
						  <li class="list-group-item"><label>State:</label> <span style="margin-left: 50px;" ng-class="{'completed': schedule.state==1, 'watting': schedule.state==0}" ng-if="schedule.state == 1"> Completed</span>
										<span style="margin-left: 50px;" ng-if="schedule.state == 0"> Watting</span></li>
						  <li class="list-group-item"><label>Action:</label> <span style="margin-left: 50px;">{{'{{schedule.action}'}}}</span></li>
						  <li class="list-group-item"><label>Message:</label> <span style="margin-left: 50px;">{{'{{schedule.message}'}}}</span></li>
						</ul> 
		 			</div>
		 		</div>
		 	</div>
		 	<div class="body-right panel panel-default col-md-5" style="margin-left: 40px;">
		 		<div class="panel-heading">
		 			<h4>Watting Time</h4>
		 		</div>
		 		<div class="panel-body">
		 			<p ng-show="timeShow" style="font-size: 21px;">{{'{{days}'}}} Day&nbsp-&nbsp{{'{{hours}'}}} Hours&nbsp-&nbsp{{'{{minutes}'}}} Minutes&nbsp-&nbsp{{'{{seconds}'}}} Seconds <span class="glyphicon glyphicon-time"></span></p>
		 			<p ng-hide="timeShow" style="font-size: 30px; color: green; text-align:center;">EXPIRED<span class="glyphicon glyphicon-ok"></span></p>
		 		</div>
		 	</div>
			<div class="list_job">
				<table class="table table-bordered table-hover table-striped">
					<thead> 
						<tr>
							<th class="col-md-1"> Job ID</th>
							<th class="col-md-3"> Job Name</th> 
							<th class="col-md-1"> State</th> 
							<th class="col-md-1"> Status</th> 
<!-- 							<th class="col-md-1"> Start Date</th>
							<th class="col-md-1"> End Date</th> -->
							<th class="col-md-1"> VER</th>  
							<th class="col-md-4"> WID</th>			
							<th class="col-md-1"> Prog</th>			
						</tr>
					</thead>
					<tbody>
					 <tr ng-repeat="job in list_job">
						<td class="col-md-1">{{'{{job.jid}'}}}</td>
						<td class="col-md-3">{{'{{job.jname}'}}}</td>
						<td class="col-md-1" ng-class="{'running': job.state == 'Running', 'aborted': job.state == 'Aborted', 'watting': job.state == 'Watting', 'paused': job.state == 'Paused', 'completed': job.state == 'Completed'}">{{'{{job.state}'}}}</td>
						<td class="col-md-1">{{'{{job.status}'}}}</td>
						<!-- <td class="col-md-1">{{'{{job.startdate*1000 | date:"dd-MM-yyyy HH:mm:ss"}'}}}</td>
						<td class="col-md-1" >{{'{{job.enddate*1000 | date:"dd-MM-yyyy HH:mm:ss"}'}}}</td> -->
						<td class="col-md-1">{{'{{job.ver}'}}}</td>
						<td class="col-md-4">{{'{{job.wid}'}}}</td>
						<td class="col-md-1">{{'{{job.prog}'}}}</td>
					 </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var app = angular.module('schedule-detail',[]);
	app.controller("scheCtrl", function ($scope,$http,$interval,$timeout){
		$scope.timeShow = true;
		$scope.reload = function(){
			$http({
				method: 'GET',
				url: '/schedule/api/schedule/'+{{id}}+'/',
			}).then(function(response){
				$scope.schedule = response.data[0];
				$scope.list_job = $scope.schedule['list_job'];
			});
			$timeout(function(){$scope.reload()},2000);
		};
		$scope.onload = function () {
			// $scope.idSchedule;
			$http.get('/schedule/api/schedule/'+{{id}}+'/').then(function (response) {
				$scope.schedule = response.data[0];
				$scope.list_job = $scope.schedule['list_job'];
				var x =  $interval(function() {
					var distance = $scope.schedule.schedule_date*1000 - $scope.schedule.svr_date*1000;
					$scope.convertTime(distance);
					if (distance <= 0) {
		        $interval.cancel(x);
		        $scope.timeShow = false;
		        // $timeout(function(){$scope.reload();},2000);
		        $scope.reload();
				  }else if(distance >=60 && distance <61){
				  	$scope.onload();
				  }
					$scope.schedule.svr_date += 1;
				},1000);
				console.log($scope.schedule);
			});
			$timeout(function(){$scope.onload();},1800000);
		};

		$scope.convertTime = function (argument) {
			$scope.days = Math.floor(argument / (1000 * 60 * 60 * 24));
			// $scope.$apply();
	    $scope.hours = Math.floor((argument % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			// $scope.$apply();
	    $scope.minutes = Math.floor((argument % (1000 * 60 * 60)) / (1000 * 60));
			// $scope.$apply();
	    $scope.seconds = Math.floor((argument % (1000 * 60)) / 1000);
			// $scope.$apply();
		}
		$scope.onload();
	});
</script>
{% endblock %}