{% extends 'base.html' %}
{% block content %}
<script src="/static/assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js""></script>
<div ng-app="schedule" ng-controller="scheCtrl">
	<div class="content">
		<h2 class="sub-header">Schedule</h2>
	</div>
	<div class="content">
		<div class="table-responsive col-md-12">
			<div class="panel-body">
				<div>
					<!-- <label class="checkbox-inline" ng-repeat="state in getStates()">
						<input type="checkbox" ng-model="filters[state]">{{'{{state}'}}}
					</label> -->
					<a href="/schedule/add" role="button" data-parent="#createJob" data-toggle="modal" class="btn btn-success btn-xs">Add new process <span class="glyphicon glyphicon-plus"></span></a>
				</div>
			</div>
			<div class="" style="overflow-y: auto;"">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th class="col-md-1">STT</th>
							<th class="col-md-1">ID</th>
							<th class="col-md-1">Action</th>
							<th class="col-md-1">Watting time</th>
							<th class="col-md-1">State</th>
							<th class="col-md-1">Date</th>
							<th class="col-md-5">Job</th>
							<th class="col-md-1"></th>
							<!-- <th>Job Name</th>
							<th>Job State</th> -->
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="9" class="text-center">Total: {{'{{filterState.length}'}}}</td>
						</tr>
					</tfoot>
					<tbody data-link="row" class="rowlink">
						<tr ng-repeat="scrontab in (scrontab_list | orderBy:'-unix_timestamp') as filterState" >
							<td class="col-md-1">{{'{{$index + 1}'}}}</td>
							<td class="col-md-1">{{'{{scrontab.id}'}}}</td>
							<td class="col-md-1"><sapn>{{'{{scrontab.action}'}}}</sapn></td>
							<td class="col-md-1"><span>{{'{{scrontab.alarm}'}}}</span></td>
							<td class="col-md-1" ng-class="{'completed': scrontab.state==1, 'watting': scrontab.state==0}"><span ng-if="scrontab.state == 1"> Completed</span>
								<span ng-if="scrontab.state == 0"> Watting</span></td>
					<!-- 		<td class="col-md-1" ng-class="{'running': job.state == 'Running', 'aborted': job.state == 'Aborted', 'watting': job.state == 'Watting', 'paused': job.state == 'Paused', 'completed': job.state == 'Completed'}"><span>{{'{{job.state}'}}}</span></td> -->
							<!-- <td class="col-md-1" n><span>{{'{{scrontab.startdate}'}}}</span></td> -->
							<td class="col-md-1"><span>{{'{{scrontab.unix_timestamp*1000 | date: "dd-M-yyyy HH:mm:ss"}'}}}</span></td>
							<td class="col-md-5"><div>
								<table class="table table-bordered">
									<thead>
										<tr style="background-color: #337ab7; color: #ffff;">
											<th>JobID</th>
											<th>Name</th>
											<th>State</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="job in scrontab.list_job">
											<td><span>{{'{{job.jid}'}}}</span></td>
											<td><span>{{'{{job.jname}'}}}</span></td>
											<td  ng-class="{'running': job.state == 'Running', 'aborted': job.state == 'Aborted', 'watting': job.state == 'Watting', 'paused': job.state == 'Paused', 'completed': job.state == 'Completed'}"><span>{{'{{job.state}'}}}</span></td>
										</tr>
									</tbody>
								</table>
							</div></td>
							<td class="col-md-1"><input id="btnDelete-{{'{{scrontab.id}'}}}" type="button" class="button" value="Delete" ng-click="deteleRow(scrontab)"></td>
							<!-- <td class="col-md-1"><span>{{'{{scrontab.alarm}'}}}</span></td>
							<td class="col-md-1"><span>{{'{{scrontab.alarm}'}}}</span></td>
							<td class="col-md-1"><span>{{'{{scrontab.alarm}'}}}</span></td>
 -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var app = angular.module('schedule',[]);
	app.controller("scheCtrl", function ($scope,$http,$timeout){
		$scope.reload = function () {
			$scope.total = 0;
			$http.get('/schedule/api/schedule').then(function (response) {
				$scope.scrontab_list = response.data;
				$scope.total = $scope.scrontab_list.length
				console.log($scope.scrontab_list);
			});
			$timeout(function(){
				// $scope.reload();
			},10000)
		};
		$scope.reload();
		$scope.deteleRow = function (field) {
			// body...
			var id = field.id;
			$http.post('/schedule/delete/'+id+'/').then(function(response){
				if(response.status == 204){
					$scope.scrontab_list.splice($scope.scrontab_list.indexOf(field), 1);
					$scope.reload();
					console.log("Delete completed");
				}
				else
					console.log("Error");
			});
		}
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#createJob').on('click', function(e){
			// console.log("$$$$$$$");
		});
		var $scroll = $('table.scrollTable');
		$scroll.floatThead({
		scrollContainer: function($table){
	    return $table.closest('.wrapper');
		}
	});
	});
	
</script>
{% endblock %}