{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/static/assets/js/jasny-bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/assets/css/jasny-bootstrap.css">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="Workflow" ng-controller="workflowCtrl">
	<h2 class="sub-header">Workflows <span style="font-size: 15px;">(Total: {{'{{total}'}}})</span></h2>
	<div class="table-responsive" >
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>STT</th>
					<th>Name</th>
					<th>Workflow ID</th>
					<th>Pubver</th>
					<th>Priver</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody class="rowlink" data-link="row">
				<tr ng-repeat="workflow in workflow_list" uib-tooltip-html="text" ng-mousedown="showinfo(workflow.wid)"  tooltip-is-open="isOpen">
					<td>{{'{{$index + 1}'}}} <a href="" ></a></td>
					<td>{{'{{workflow.name}'}}}</td>
					<td><p>{{'{{workflow.wid}'}}}</p></td>
					<td>{{'{{workflow.pubver}'}}}</td>
					<td>{{'{{workflow.priver}'}}}</td>
					<td>Add job</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
	var app = angular.module('Workflow',['ui.bootstrap']).config(['$tooltipProvider', function ($tooltipProvider) {
        $tooltipProvider.options({
            placement: 'bottom',
            trigger: 'click',
        });
    }])
	app.controller("workflowCtrl", function ($scope,$http,$timeout,$element,$sce){
		$scope.reload = function () {
			$scope.total = 0;
			$http.get('/workflow/api/workflow/').
			then(function (response) {
				$scope.workflow_list = response.data;
				$scope.total = $scope.workflow_list.length;
				console.log($scope.workflow_list);
			});
			$timeout(function(){
				// $scope.reload();
			},10000)
		};
		$scope.reload();
		$scope.showinfo = function(id){
			var tootcontents = '<div>loading....</div>';
			$http.get('/workflow/api/workflow/'+id+'/').then(
				function(response){
					var oj = response.data[0];
					var vid = oj.id;
					var vcategory ="category:\t"+oj.category;
					var vname ="name:\t"+oj.name;
					var vpagrams;
					for(param in oj.params){
						vparams = "<p>"+param.name+":\t"+param.value+"</p>"
					}
					tootcontents ="<div class='showinfo'>"+vcategory+"</br>"+vname+"</br>"+vparams+"</div>";
					$scope.text = $sce.trustAsHtml(tootcontents);
					console.log(oj.params);
					// $scope.isOpen = true;
				});	
			$scope.text = $sce.trustAsHtml(tootcontents);
		}
	});
	

</script>
{% endblock %}

