<!DOCTYPE html>
<html>
	<head>
		<title>DateTime</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript" src="/static/angular.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		</script>
		<style>
		body {
		padding-top: 60px;
		padding-bottom: 60px;
		}
		</style>
	</head>
	<body id="docbody" ng-app="DateTime" ng-controller="datetimeCtrl">
		{% block nav %}
			{% include 'nav.html' %}
		{% endblock %}
		<div class="container">
			<div class="col-md-12">
				<div class="row">
					<div class="table-responsive">
						{{'{{date_time[0].timeZone}'}}}
						{{'{{date_time[0].dateAndTime}'}}}
					</div><!--end of .table-responsive-->
				</div>
			</div>
		</div><!-- /.container -->
		<script>
			var app = angular.module('DateTime',[]);
			app.controller("datetimeCtrl", function ($scope,$http,$timeout){
				$scope.reload = function () {
					$http.get('/system/api/datetime').
					then(function (response) {
						$scope.date_time = response.data;
						console.log($scope.date_time);
					});
					$timeout(function(){
						$scope.reload();
					},600000)
				};
				$scope.reload();
			});
		</script>
	</body>
</html>


