{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js"></script>
<div ng-app="System">
    <div ng-class="{'container-loadding':isLoad,'container-loadding-hide':!isLoad}" ng-controller="ctrl-main">
        <div class="sk-fading-circle" ng-show="isLoad">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div> 
    </div>
    <div ng-controller="ctrl-thomson-LAB" ng-class="{'main-loader':isLoad, 'colpadding':!isLoad}">
        <div class="colpadding col-md-5">
            <div class="header-device">
                <h2 class="sub-header">Device</h2>
                <!-- table total -->
                    <div style="display: inline; font-size: 13px; padding-right: 10px; float: right; margin-top:-7px;">
                        <table style="width: 200px; background-color: #edeff2; font-size: 11px;">
                            <tr>
                                <td style="width: 40px; font-size: 14px;"><p>Total:</p></td>
                                <td style="width: 170px;">
                                    <table class="table" style="margin-bottom: 0px; background-color: #edeff2;">
                                    <tr>
                                        <td style="padding: 1px;">
                                            <div class="progress" style="height: 20px;">
                                            <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.alloccpu}'}}}%;">
                                                <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.cpu}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{PCStatus.cpu}'}}}%;"></div>
                                                <p>{{'{{PCStatus.alloccpu}'}}}%</p>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 1px;">
                                            <div class="progress" style="height: 20px;">
                                                <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.allocmem}'}}}%;">
                                                    <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.mem}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{PCStatus.mem}'}}}%;"></div>
                                                    <p>{{'{{PCStatus.allocmem}'}}}%</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                <!-- end table total -->
            </div> 
            <!-- table main left -->
                <div class="table-responsive colpadding col-md-12">
                        <div class="loader" ng-controller="ctrload-nodes">
                        <div class="content" ng-show="isLoad"></div>
                        </div>
                    <div class="wrapper" style="overflow-y:scroll;">
                        <table class="table table-bordered table-hover table-striped scrollTable">
                            <thead>
                                <th class="col-md-1 sortting" ><a role="button" ng-click="orderByField = 'nid'; reverseSort = !reverseSort">Nodes<i class="glyphicon" ng-show="orderByField=='nid'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                                <th class="col-md-1">Status</th>
                                <th class="col-md-1">State</th>
                                <th class="col-md-1 sortting"><a role="button" ng-click="orderByField='!jerror'; reverseSort=ture;">Error/Job</th>
                                <th class="col-md-4">Job</th>
                                <th class="col-md-2 sortting"><a role="button" ng-click="orderByField = 'alloccpu'; reverseSort = !reverseSort">Cpu <i class="glyphicon" ng-show="orderByField=='alloccpu'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                                <th class="col-md-2 sortting"><a role="button" ng-click="orderByField = 'allocmem'; reverseSort = !reverseSort">Mem <i class="glyphicon" ng-show="orderByField=='allocmem'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="node in lstNodes | orderBy: '-alloccpu' | orderBy:'-jerror' | orderBy: orderByField: reverseSort" ng-click="set_nodedatil(node.nid);show_detail(node.nid); loadAllLog();">
                                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.nid}'}}}</td>
                                    <td class="col-md-1" ng-class="{'oke': node.status == 'OK', 'error': node.status == 'ER', 'watting': node.status == 'WAT', 'alarm': node.jerror >0}"><span>{{'{{node.status}'}}}</span></td>
                                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.state}'}}}</td>
                                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.jerror}'}}}/{{'{{node.jcounter}'}}}</td>
                                    <td class="col-md-4" ng-class="{'alarm': node.jerror > 0}"><span ng-repeat="job in node.jobs">{{'{{job}'}}}&#44;&nbsp;</span></td>
                                    <td class="col-md-2" ng-class="{'alarm': node.jerror >0}">
                                        <div class="progress">
                                        <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.alloccpu}'}}}%;">
                                            <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.cpu}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{node.cpu}'}}}%;"></div>
                                            <p>{{'{{node.alloccpu}'}}}%</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2" ng-class="{'alarm': node.jerror >0}">
                                        <div class="progress">
                                            <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.allocmem}'}}}%;">
                                                <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.mem}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{node.mem}'}}}%;"></div>
                                                <p>{{'{{node.allocmem}'}}}%</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <!-- end table left -->
        </div>
        <!-- table right -->
            <div class="colpadding col-md-7 body-right table-responsive">
                <!-- table Job -->
                    <div class="col-md-12" ng-show="isJob">
                        <h2 class="sub-header" style="text-align:center;">
                            Node:&nbsp{{'{{node.nid}'}}}
                        </h2>
                        <div ng-controller="ctrload-jobs" class="loader panel-body"><div class="content" ng-show="isLoadJob"></div></div>
                        <div class="wrapper wrapper-node" style="overflow-y: scroll;">
                            <table class="table table-bordered table-hover table-striped scrollTable">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;">#</th>
                                        <th style="width: 4%;">Job ID</th>
                                        <th style="width: 38%;">Job name</th>
                                        <th style="width: 2%;">Status</th>
                                        <th style="width: 10%;">State</th>
                                        <th style="width: 40%;">Workflow Name</th>
                                        <th style="width: 4%;">Edit</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="job in node.job_list">
                                        <td style="width: 2%;" ng-click="showLog(job.jid, job.jname);"><span>{{'{{$index + 1}'}}}</span></td>
                                        <td style="width: 4%;" ng-click="showLog(job.jid, job.jname);"><span>{{'{{job.jid}'}}}</span></td>
                                        <td style="width: 38%;" ng-click="showLog(job.jid, job.jname);"><span>{{'{{job.jname}'}}}</span></td>
                                        <td style="width: 2%;" ng-click="showLog(job.jid, job.jname);"><span ng-class="{'alarm': job.status == 'Critical'}">{{'{{job.status}'}}}</span></td>
                                        <td style="width: 10%;" ng-click="showLog(job.jid, job.jname);"><span>{{'{{job.state}'}}}</span></td>
                                        <td style="width: 40%;" ng-click="showLog(job.jid, job.jname);"><span>{{'{{job.wname}'}}}</span></td>
                                        <td style="width: 4%;">
                                           <div style="display: inline-flex;">
                                            <a  role="button" name="tbnStart{{'{{job.jid}'}}}" class="btn btn-success btn-xs" title="Restart"
                                                ng-click="checkBackup(job.jid, node.nid);" href="#modal-restart-{{'{{host}'}}}" data-toggle='modal'><span class="glyphicon glyphicon-refresh"></span></a>&nbsp;
                                            <a  role="button" class="btn btn-danger btn-xs" href="#modal-stop-{{'{{host}'}}}" data-toggle='modal' title="Stop Job" name="tbnStop{{'{{host}'}}}{{'{{job.jid}'}}}" ng-click="dataModal(job.jid, node.nid);"><span class="glyphicon glyphicon-stop"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!-- end table Job -->
                <!-- table Log -->
                    <div class="col-md-12" ng-show="isRealTime">
                        <h4>Log: &nbsp {{'{{job_name}'}}}</h4>
                        <div ng-controller="ctrload-log" class="loader"><div class="content" ng-show="isLoadLog"></div></div>
                        <div class="wrapper wrapper-log" style="overflow-y: scroll;">
                            <table class="table table-bordered table-panel table-hover table-striped scrollTable">
                                <thead class="width-col-default">
                                    <th style="width: 5%;">
                                        <label>
                                            <span>Severity</span>
                                        </label>
                                    </th>
                                    <th style="width: 10%;">
                                        <label>
                                            <span>Catogory</span>
                                        </label>
                                    </th>
                                    <th style="width: 5%;">
                                        <label>
                                            <span>Node</span>
                                        </label>
                                    </th>
                                    <th style="width: 20%;">
                                        <label>
                                            <span>Resource</span>
                                        </label>
                                    </th>
                                    <th style="width: 40%;">
                                        <label>
                                            <span>Descriptipn</span>
                                        </label>
                                    </th>
                                    <th style="width: 10%;">
                                        <label>
                                            <span>Raising Date</span>
                                        </label>
                                    </th>
                                    <th style="width: 10%;">
                                        <label>
                                            <span>Cealrning Date</span>
                                        </label>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="log in lstLogJob | orderBy: '-opdate'">
                                        <td style="width: 5%;">
                                            <div class="serverily {{'{{log.sev}'}}}"></div>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.cat}'}}}</span>
                                        </td>
                                        <td style="width: 5%;">
                                            <span>{{'{{log.nid}'}}}</span>
                                        </td>
                                        <td style="width: 20%;">
                                            <span>{{'{{log.res}'}}}</span>
                                        </td>
                                        <td style="width: 40%;">
                                            <span>{{'{{log.desc}'}}}</span>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss" }'}}}</span>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss" }'}}}</span>
                                        </td>
                                    </tr>
                                </tbod>
                            </table>
                        </div>
                    </div>
                <!-- end table Log -->
                <!-- table Real Time -->
                    <div class="col-md-12 table-responsive colpadding" ng-hide="isRealTime">
                        <h4 class="col-md-4">Real Time</h4>
                        <div class="input-group col-md-7" ><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input type="text" class="form-control" placeholder="Search..." ng-model="search">
                        </div>
                        <div ng-controller="ctrload-realtime" class="loader"><div class="content" ng-show="isLoadRealtime"></div></div>
                        <div class="wrapper" ng-class="{'wrapper-log-lab': isJob, 'wrapper-log-lab-1': !isJob}" style="overflow-y: scroll;">
                            <table class="table table-bordered table-hover table-striped scrollTable">
                                <thead class="width-col-default">
                                    <tr>
                                        <th style="width: 4%;">#</th>
                                        <th style="width: 2%;">Serverily</th>
                                        <th style="width: 2%;">Node</th>
                                        <th style="width: 20%;">Resource</th>
                                        <th style="width: 20%;">Description</th>
                                        <th style="width: 10%;">Open date</th>
                                        <th style="width: 10%;">Clean date</th>
                                        <th style="width: 4%;">Job ID</th>
                                        <th style="width: 10%;">Job name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="log in log_list | filter:search | filter:filterBySev | orderBy: '-opdate'" ng-class="{'warning': nowDate-log.opdate<=60000}">
                                        <td style="width: 4%;">
                                            <span>{{'{{$index + 1}'}}}</span>
                                        </td>
                                        <td style="width: 2%;">
                                            <div class="serverily {{'{{log.sev}'}}}"></div>
                                        </td>
                                        <td style="width: 2%;">
                                            <span>{{'{{log.nid}'}}}</span>
                                        </td>
                                        <td style="width: 20%;">
                                            <span>{{'{{log.res}'}}}</span>
                                        </td>
                                        <td style="width: 20%;">
                                            <span>{{'{{log.desc}'}}}</span>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span>
                                        </td>
                                        <td style="width: 4%;">
                                            <span>{{'{{log.jid}'}}}</span>
                                        </td>
                                        <td style="width: 10%;">
                                            <span>{{'{{log.jname}'}}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="8" class="text-center">Total: {{'{{log_list.length}'}}}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                <!-- end table Real time -->
            </div>
        <!-- end table right -->
        <!-- Modal Stop-->
          <div class="modal fade" id="modal-stop-thomson-lab" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                    </div>
                    <form method="post" id="frm-modal-stop-thomson-lab" onsubmit="return valiCaptcha('widgetStop')" ng-submit="stopJob(job_id,node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <div class="simple-captcha" id="widgetStop"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="Continue">Continue</button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- End Modal -->
          <!-- Modal Reset-->
          <div class="modal fade" id="modal-restart-thomson-lab" role="dialog">
              <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                      </div>
                      <form method="post" id="frm-modal-restart-thomson-lab" onsubmit="return valiCaptcha('widgetRestart')" ng-submit="restartJob(job_id, node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <div class="simple-captcha" id="widgetRestart">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="resetart" value="Continue">Continue </button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- End Modal -->
    </div>
</div>
<script type="text/javascript">
    var app =angular.module('System',['ngSanitize']);
</script>
<script type="text/javascript" src="/static/assets/js/captcha/simple-captcha.min.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-load.min.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-LAB.min.js">
</script>
<script type="text/javascript">
    var $scroll = $('table.scrollTable');
    $scroll.floatThead({
        scrollContainer: function($table){
        return $table.closest('.wrapper');
        }
    });
</script>

{% endblock %}