{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js"></script>
<div class="col-md-12" ng-app="System">
    <div class="colpadding col-md-6" ng-controller="ctrl-thomson-HNI">
        {% include "system/template.html" %}
    </div>
    <div class="colpadding col-md-6" ng-controller="ctrl-thomson-HCM">
        {% include "system/template.html" %}
    </div>
</div>
<script type="text/javascript">
    var app =angular.module('System',[]);
</script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-HCM.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-HNI.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-load.js"></script>
<script type="text/javascript">
    var $scroll = $('table.scrollTable');
    $scroll.floatThead({
        scrollContainer: function($table){
        return $table.closest('.wrapper');
        }
    });
    setTimeout(function() {location.reload();}, 600000);
</script>
{% endblock %}