{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="System" ng-controller="systemCtrl"> -->

<div ng-app="System" ng-controller="systemCtrl">
    <div class="content">
        <h2 class="sub-header">Device</h2>
        <!-- table total -->
        <div style="display: inline; font-size: 13px; padding-right: 10px; float: right; margin-top:-7px;">
            <table style="width: 200px; background-color: #edeff2; font-size: 11px;">
                <tr>
                    <td style="width: 40px; font-size: 14px;"><p>Total:</p></td>
                    <td style="width: 170px;">
                        <table class="table" style="margin-bottom: 0px; background-color: #edeff2;">
                        <tr>
                            <td style="padding: 1px;">
                                <div class="progress" style="height: 20px;"> <div class="progress">
                                <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.alloccpu}'}}}%;">
                                    <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.cpu}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{PCStatus.cpu}'}}}%;"></div>
                                    <p>{{'{{PCStatus.alloccpu}'}}}%</p>
                                </div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 1px;">
                                 <div class="progress" style="height: 20px;"> <div class="progress">
                                <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.allocmem}'}}}%;">
                                    <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.mem}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{PCStatus.mem}'}}}%;"></div>
                                    <p>{{'{{PCStatus.allocmem}'}}}%</p>
                                </div>
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!-- end table total -->
    </div>
    <div class="content">
        <!-- table main left -->
        <div class="colpadding col-md-5 table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <th class="col-md-1 sortting" ><a role="button" ng-click="orderByField = 'nid'; reverseSort = !reverseSort">Device<i class="glyphicon" ng-show="orderByField=='nid'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1">State</th>
                    <th class="col-md-1">Creahable</th>
                    <th class="col-md-1 sortting"><a role="button" ng-click="orderByField='!jerror'; reverseSort=ture;">Error/Job</th>
                    <!-- <th class="col-md-1">Counter</th> -->
                    <th class="col-md-3 sortting"><a role="button" ng-click="orderByField = 'alloccpu'; reverseSort = !reverseSort">Cpu <i class="glyphicon" ng-show="orderByField=='allccpu'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                    <th class="col-md-3 sortting"><a role="button" ng-click="orderByField = 'allocmem'; reverseSort = !reverseSort">Mem <i class="glyphicon" ng-show="orderByField=='allcmem'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i></a></th>
                </thead>
                <tbody>
                    <tr ng-repeat="node in lstNodes | orderBy: '-alloccpu' | orderBy:'-jerror' | orderBy: orderByField: reverseSort" ng-click="show_detail(node.nid)">
                        <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.nid}'}}}</td>
                        <td class="col-md-1" ng-class="{'oke': node.status == 'OK', 'error': node.status == 'ER', 'watting': node.status == 'WAT', 'alarm': node.jerror >0}"><span>{{'{{node.status}'}}}</span></td>
                        <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.state}'}}}</td>
                        <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.uncreahble}'}}}<i class="glyphicon" ng-bind="creahable = node.uncreahble" ng-class="{'glyphicon-ok': !creahable, 'glyphicon-remove': creahable}"></i></td>
                        <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.jerror}'}}}/{{'{{node.jcounter}'}}}</td>
                        <td class="col-md-3" ng-class="{'alarm': node.jerror >0}">
                            <div class="progress">
                            <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.alloccpu}'}}}%;">
                                <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.cpu}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{node.cpu}'}}}%;"></div>
                                <p>{{'{{node.alloccpu}'}}}%</p>
                                </div>
                        </div>
                        </td>
                        <td class="col-md-3" ng-class="{'alarm': node.jerror >0}">
                            <div class="progress">
                                <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.allocmem}'}}}%;">
                                    <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.mem}'}}}" aria-valuemin="0" aria-valuemax="100" style="width:{{'{{node.mem}'}}}%;"></div>
                                    <p>{{'{{node.allocmem}'}}}%</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end table left -->
        <!-- table right -->
        
    </div>
</div>

<script type="text/javascript">
var app =angular.module('System', []);
app.controller('systemCtrl', function($scope, $http, $timeout, $window) {
// body...

$scope.reloadNodes = function(){
    $http.get("/system/api/nstatus/").then(function(reponse){
        $scope.lstNodes = reponse.data;
        // console.log($scope.lstStatus[0].cpu);
    });
    $timeout(function() {
        // $scope.reloadNodes();
    }, 20000)
}
$scope.reloadDevice = function(){
    $http.get("/system/api/status/").then(function(reponse){
        $scope.PCStatus = reponse.data[0];
        console.log($scope.PCStatus);
    });
    $timeout(function() {
        // $scope.reloadDevice();
    }, 20000)
}
$scope.show_detail = function(node_id) {
    $window.location.href = '/system/detail-node/'+node_id+'/'
}
$scope.reverseSort = false;
$scope.reloadDevice();
$scope.reloadNodes();
// $scope.reloadJobStatus();
// $scope.reloadMountPoint();
});
</script>
{% endblock %}