{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js"></script>
<div class="col-md-12" ng-app="System">
    <div ng-class="{'container-loadding':isLoad,'container-loadding-hide':!isLoad}" ng-controller="ctrl-main">
        <div class="sk-fading-circle" ng-show="isLoad">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      <div class="colpadding col-md-6" ng-class="{'main-loader':isLoad, 'colpadding':!isLoad}" ng-controller="ctrl-thomson-HNI">
          {% include "system/template-monitor.html" %}
          <!-- Modal Stop-->
          <div class="modal fade" id="modal-stop-thomson-hni" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                    </div>
                    <form method="post" id="frm-modal-stop-thomson-hni" ng-submit="stopJob(job_id,node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <div class="g-recaptcha" id="widgetStop"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="Continue">Continue</button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- End Modal -->
          <!-- Modal Reset-->
          <div class="modal fade" id="modal-restart-thomson-hni" role="dialog">
              <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                      </div>
                      <form method="post" id="frm-modal-restart-thomson-hni" ng-submit="restartJob(job_id, node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <div class="g-recaptcha" id="widgetRestart"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="resetart" value="Continue">Continue </button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- End Modal -->
      </div>
      <div class="colpadding col-md-6" ng-class="{'main-loader':isLoad, 'colpadding':!isLoad}" ng-controller="ctrl-thomson-HCM">
          {% include "system/template-monitor.html" %}
          <!-- Modal Stop-->
          <div class="modal fade" id="modal-stop-thomson-hcm" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                    </div>
                    <form method="post" id="frm-modal-stop-thomson-hcm" ng-submit="stopJob(job_id,node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <!-- <div class="g-recaptcha" id='captchaStop' data-callback="onloadCallback();"></div> -->
                            <div class="g-recaptcha" id="widgetStop1"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="Continue">Continue</button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- End Modal -->
          <!-- Modal Reset-->
          <div class="modal fade" id="modal-restart-thomson-hcm" role="dialog">
              <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                      </div>
                      <form method="post" id="frm-modal-restart-thomson-hcm" ng-submit="restartJob(job_id, node_id)">
                        <div class="modal-body">
                            <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                            </div>
                            <div class="g-recaptcha" id="widgetRestart1"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="resetart" value="Continue">Continue </button>
                            <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<script type="text/javascript">
  var captchaRestart="";
  var captchaRestart1="";
  var captchaStop="";
  var captchaStop1="";
    var app =angular.module('System',['ngSanitize']);
</script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-HNI.min.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-HCM.min.js"></script>
<script type="text/javascript" src="/static/ajax/libs/jsMonitor/ctrl-load.min.js"></script>
<script type="text/javascript">
    var $scroll = $('table.scrollTable');
    $scroll.floatThead({
        scrollContainer: function($table){
        return $table.closest('.wrapper');
        }
    });
    setTimeout(function() {location.reload();}, 600000);
</script>
{% endblock %}
