{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="System" ng-controller="systemCtrl"> -->

<div ng-app="System" ng-controller="systemCtrl">
    <div class="content">
        <h2 class="sub-header" title="Software version: {{'{{version}'}}}">System ({{'{{version}'}}})</h2>
    </div>
    <!-- table main -->
    <div class="colpadding col-md-10 table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <td class="colpadding col-md-7">
                    License
                </td>
                <td class="colpadding col-md-1">
                    Part number
                </td>
                <td class="colpadding col-md-1">
                    Quanlity used
                </td>
                <td class="colpadding col-md-1">
                    Quanlity max
                </td>
            </thead>
            <tbody>
                <tr ng-repeat="license in lstLicenses | orderBy: '-max'">
                    <td>
                        {{'{{license.license}'}}}
                    </td>
                    <td>
                        {{'{{license.partnumber}'}}}
                    </td>
                    <td>
                        {{'{{license.used}'}}}
                    </td>
                    <td>
                        {{'{{license.max}'}}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- table main -->
    <div class="colpadding col-md-2"> <!-- Table right -->
        <div class="panel panel-primary"><!--Panel show job status -->
            <div class="panel-heading">Job Status</div>
            <div class="panel-body">
                <table class="table table-panel table-bordered table-hover table-striped">
                    <tr>
                        <td><span><label>Completed:</label></span></td>
                        <td><span>{{'{{jobStatus[0].completed}'}}}</span></td>
                    </tr>
                    <tr>
                        <td><span><label>Waiting:</label></span></td>
                        <td><span>{{'{{jobStatus[0].waiting}'}}}</span></td>
                    </tr>
                    <tr>
                        <td><label>Paused:</label></td>
                        <td><span>{{'{{jobStatus[0].paused}'}}}</span></td>
                    </tr>
                    <tr>
                        <td><label>Running:</label></td>
                        <td><span>{{'{{jobStatus[0].running}'}}}</span></td>
                    </tr>
                    <tr>
                        <td><label>Aborted:</label></td>
                        <td><span>{{'{{jobStatus[0].aborted}'}}}</span></td>
                    </tr>
                    <tr>
                        <td><label>Total:</label></td>
                        <td><span>{{'{{jobStatus[0].total}'}}}</span></td>
                    </tr>
                </table>
            </div>
        </div><!--End panel show job status -->
        <div class="panel panel-primary"><!-- mount point -->
            <div class="panel-heading">Mount Point</div>
            <div class="panel-body">
                <table class="table table-bordered table-panel table-hover table-striped">
                    <tr ng-repeat="point in mountPoints">
                        <td>{{'{{point.name}'}}}</td>
                    </tr>
                </table>
            </div>
        </div><!-- End mount point -->
    </div> <!-- end table right -->
</div>
<script type="text/javascript">
var app =angular.module('System', []);
app.controller('systemCtrl', function($scope, $http, $timeout, $window) {
// body...
$scope.reloadJobStatus=function(){
    $http.get("/system/api/thomson-hcm/jobstatus/").then(function(reponse){
        $scope.jobStatus = reponse.data;
    });
    $timeout(function(){
        $scope.reloadJobStatus();
    },60000)
}
$scope.reloadMountPoint=function(){
    $http.get("/system/api/thomson-hcm/mountpoint/").then(function(reponse){
        $scope.mountPoints = reponse.data;
    });
    $timeout(function() {
        // $scope.reloadMountPoint();
    }, 6000000);
}
$scope.reloadLicense = function(){
    $http.get("/system/api/license/").then(function(reponse){
        $scope.lstLicenses = reponse.data[0].license_list;
        $scope.version = reponse.data[0].version;
        // console.log($scope.lstStatus[0].cpu);
    });
    $timeout(function() {
        // $scope.reloadLicense();
    }, 6000000)
}

$scope.reloadJobStatus();
$scope.reloadLicense();
$scope.reloadMountPoint();
});
</script>
{% endblock %}