<div class="header-device">
    <h2 class="sub-header">Device:&nbsp;{{'{{host}'}}}&nbsp;<span style="font-size: 17px;">Running/Job:&nbsp;{{'{{Jobs[0].running}'}}}/{{'{{Jobs[0].total}'}}}</span></h2>
    <!-- table total -->
    <div style="display: inline; font-size: 13px; padding-right: 10px; float: right; margin-top:-7px;">
        <table style="width: 200px; background-color: #edeff2; font-size: 11px;">
            <tr>
                <td style="width: 40px; font-size: 14px;">
                    <p>Total:</p>
                </td>
                <td style="width: 170px;">
                    <table class="table" style="margin-bottom: 0px; background-color: #edeff2;">
                        <tr>
                            <td style="padding: 1px;">
                                <div class="progress" style="height: 20px;">
                                    <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.alloccpu}'}}}%;">
                                        <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.cpu}'}}}" aria-valuemin="0" aria-valuemax="100"
                                            style="width:{{'{{PCStatus.cpu}'}}}%;"></div>
                                        <p>{{'{{PCStatus.alloccpu}'}}}%</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 1px;">
                                <div class="progress" style="height: 20px;">
                                    <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{PCStatus.allocmem}'}}}%;">
                                        <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{PCStatus.mem}'}}}" aria-valuemin="0" aria-valuemax="100"
                                            style="width:{{'{{PCStatus.mem}'}}}%;"></div>
                                        <p>{{'{{PCStatus.allocmem}'}}}%</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- end table total -->
</div>
<!-- table Device -->
<div class="table-responsive colpadding col-md-12">
    <div class="wrapper wrapper-device" style="overflow-y:scroll;">
        <table class="table table-bordered table-hover table-striped scrollTable">
            <thead>
                <tr>
                    <th class="col-md-1 sortting">
                        <a role="button" ng-click="orderByField = 'nid'; reverseSort = !reverseSort">Nodes
                            <i class="glyphicon" ng-show="orderByField=='nid'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i>
                        </a>
                    </th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1">State</th>
                    <th class="col-md-1 sortting">
                        <a role="button" ng-click="orderByField='!jerror'; reverseSort=ture;">Error/Job</a>
                    </th>
                    <!-- <th class="col-md-1">Counter</th> -->
                    <th class="col-md-3 sortting">
                        <a role="button" ng-click="orderByField = 'alloccpu'; reverseSort = !reverseSort;">Cpu
                            <i class="glyphicon" ng-show="orderByField=='alloccpu'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i>
                        </a>
                    </th>
                    <th class="col-md-3 sortting">
                        <a role="button" ng-click="orderByField = 'allocmem'; reverseSort = !reverseSort">Mem
                            <i class="glyphicon" ng-show="orderByField=='allocmem'" ng-class="{'glyphicon-chevron-up': !reverseSort, 'glyphicon-chevron-down': reverseSort}"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in lstNodes | orderBy: '-alloccpu' | orderBy:'-jerror' | orderBy: orderByField: reverseSort" ng-click="set_nodedatil(node.nid);show_detail(node.nid);">
                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.nid}'}}}</td>
                    <td class="col-md-1" ng-class="{'oke': node.status == 'OK', 'error': node.status == 'ER', 'watting': node.status == 'WAT', 'alarm': node.jerror >0}">
                        <span>{{'{{node.status}'}}}</span>
                    </td>
                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.state}'}}}</td>
                    <td class="col-md-1" ng-class="{'alarm': node.jerror >0}">{{'{{node.jerror}'}}}/{{'{{node.jcounter}'}}}</td>
                    <td class="col-md-3" ng-class="{'alarm': node.jerror >0}">
                        <div class="progress">
                            <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.alloccpu}'}}}%;">
                                <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.cpu}'}}}" aria-valuemin="0" aria-valuemax="100"
                                    style="width:{{'{{node.cpu}'}}}%;"></div>
                                <p>{{'{{node.alloccpu}'}}}%</p>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-3" ng-class="{'alarm': node.jerror >0}">
                        <div class="progress">
                            <div class="progressbar progress-bar-info" role="progressbar" aria-valuemax='100' style="width: {{'{{node.allocmem}'}}}%;">
                                <div class="progressbar progress-bar-real" role="progressbar" aria-valuenow="{{'{{node.mem}'}}}" aria-valuemin="0" aria-valuemax="100"
                                    style="width:{{'{{node.mem}'}}}%;"></div>
                                <p>{{'{{node.allocmem}'}}}%</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end table Device -->
<!-- table Job -->
<div class="col-md-12 table-responsive colpadding" ng-show="isJob">
    <h4 class="node-h4">
        Node:&nbsp;{{'{{node.nid}'}}}
    </h4>
    <div class="wrapper wrapper-node" style="overflow-y: scroll;">
        <table class="table table-bordered table-hover table-striped scrollTable">
            <thead>
                <tr>
                    <th style="width: 2%;">#</th>
                    <th style="width: 4%;">Job ID</th>
                    <th style="width: 38%;">Job name</th>
                    <th style="width: 2%;">Status</th>
                    <th style="width: 10%;">State</th>
                    <th style="width: 40%;">Workflow Name</th>
                    <th style="width: 4%;">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in node.job_list">
                    <td style="width: 2%;" ng-click="showLog(job.jid, job.jname);">
                        <span>{{'{{$index + 1}'}}}</span>
                    </td>
                    <td style="width: 4%;" ng-click="showLog(job.jid, job.jname);">
                        <span>{{'{{job.jid}'}}}</span>
                    </td>
                    <td style="width: 38%;" ng-click="showLog(job.jid, job.jname);">
                        <span>{{'{{job.jname}'}}}</span>
                    </td>
                    <td style="width: 2%;" ng-click="showLog(job.jid, job.jname);">
                        <span ng-class="{'alarm': job.status != 'Ok'}">{{'{{job.status}'}}}</span>
                    </td>
                    <td style="width: 10%;" ng-click="showLog(job.jid, job.jname);">
                        <span>{{'{{job.state}'}}}</span>
                    </td>
                    <td style="width: 40%;" ng-click="showLog(job.jid, job.jname);">
                        <span>{{'{{job.wname}'}}}</span>
                    </td>
                    <td style="width: 4%;">
                        <div style="display: inline-flex;">
                            <button type="button" name="tbnStart{{'{{job.jid}'}}}" class="btn btn-success btn-xs glyphicon glyphicon-refresh" title="Restart"
                                ng-click="restartJob(job.jid, node.nid);"></button>&nbsp;
                            <button type="button" name="tbnStop{{'{{job.jid}'}}}" class="btn btn-danger btn-xs glyphicon glyphicon-stop" title="Stop"
                                ng-show="job.state == 'Running'" ng-click="stopJob(job.jid, node.nid);"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end table Job -->
<!-- table Real Time -->
<div class="col-md-12 table-responsive colpadding" ng-hide="isRealTime">
    <h4 class="node-h4">Real Time</h4>
    <div class="wrapper" ng-class="{'wrapper-log': isJob, 'wrapper-log-1': !isJob}" style="overflow-y: scroll;">
        <table class="table table-bordered table-hover table-striped scrollTable">
            <thead>
                <tr>
                    <th style="width: 4%;">#</th>
                    <th style="width: 2%;">Serverily</th>
                    <th style="width: 2%;">Node</th>
                    <th style="width: 20%;">Resource</th>
                    <th style="width: 20%;">Description</th>
                    <th style="width: 10%;">Open date</th>
                    <th style="width: 10%;">Clean date</th>
                    <th style="width: 4%;">Job ID</th>
                    <th style="width: 10%;">Job name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in log_list | filter:search | filter:filterBySev | orderBy: '-opdate'" ng-class="{'warning': nowDate-log.opdate<=60000}">
                    <td style="width: 4%;">
                        <span>{{'{{$index + 1}'}}}</span>
                    </td>
                    <td style="width: 2%;">
                        <span>{{'{{log.sev}'}}}</span>
                    </td>
                    <td style="width: 2%;">
                        <span>{{'{{log.nid}'}}}</span>
                    </td>
                    <td style="width: 20%;">
                        <span>{{'{{log.res}'}}}</span>
                    </td>
                    <td style="width: 20%;">
                        <span>{{'{{log.desc}'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span>
                    </td>
                    <td style="width: 4%;">
                        <span>{{'{{log.jid}'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.jname}'}}}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-center">Total: {{'{{log_list.length}'}}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- end table Real Time -->
<!-- table Log -->
<div class="col-md-12 table-responsive colpadding" ng-show="isRealTime">
    <h4 class="node-h4">Log: &nbsp {{'{{job_name}'}}}</h4>
    <div class="wrapper wrapper-log" style="overflow-y: scroll;">
        <table class="table table-bordered table-panel table-hover table-striped scrollTable">
            <thead class="width-col-default">
                <th style="width: 5%;">
                    <label>
                        <span>Severity</span>
                    </label>
                </th>
                <th style="width: 10%;">
                    <label>
                        <span>Catogory</span>
                    </label>
                </th>
                <th style="width: 5%;">
                    <label>
                        <span>Node</span>
                    </label>
                </th>
                <th style="width: 20%;">
                    <label>
                        <span>Resource</span>
                    </label>
                </th>
                <th style="width: 40%;">
                    <label>
                        <span>Descriptipn</span>
                    </label>
                </th>
                <th style="width: 10%;">
                    <label>
                        <span>Raising Date</span>
                    </label>
                </th>
                <th style="width: 10%;">
                    <label>
                        <span>Cealrning Date</span>
                    </label>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="log in lstLogJob | orderBy: '-opdate'">
                    <td style="width: 5%;">
                        <span>{{'{{log.sev}'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.cat}'}}}</span>
                    </td>
                    <td style="width: 5%;">
                        <span>{{'{{log.nid}'}}}</span>
                    </td>
                    <td style="width: 20%;">
                        <span>{{'{{log.res}'}}}</span>
                    </td>
                    <td style="width: 40%;">
                        <span>{{'{{log.desc}'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss" }'}}}</span>
                    </td>
                    <td style="width: 10%;">
                        <span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss" }'}}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end table Log -->