{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="System" ng-controller="systemCtrl"> -->

<div ng-app="System" ng-controller="systemCtrl">
   {% include "system/template.html" %}
</div>
<script type="text/javascript">
    var app =angular.module('System', []);
    app.controller('systemCtrl', function($scope, $http, $timeout, $window) {
    // body...
    $scope.host = "thomson-hcm";
    $scope.reloadJobStatus=function(){
        $http.get("/system/api/"+$scope.host+"/jobstatus/").then(function(reponse){
            $scope.jobStatus = reponse.data;
        });
        $timeout(function(){
            $scope.reloadJobStatus();
        },60000)
    }
    $scope.reloadMountPoint=function(){
        $http.get("/system/api/"+$scope.host+"/mountpoint/").then(function(reponse){
            $scope.mountPoints = reponse.data;
        });
        $timeout(function() {
            $scope.reloadMountPoint();
        }, 6000000);
    }
    $scope.reloadLicense = function(){
        $http.get("/system/api/"+$scope.host+"/license/").then(function(reponse){
            $scope.lstLicenses = reponse.data[0].license_list;
            $scope.version = reponse.data[0].version;
            // console.log($scope.lstStatus[0].cpu);
        });
        $timeout(function() {
            $scope.reloadLicense();
        }, 6000000)
    }

    $scope.reloadJobStatus();
    $scope.reloadLicense();
    $scope.reloadMountPoint();
    });
</script>
{% endblock %}