{% extends 'base.html' %}
{% block content %}
<script src="/static/assets/js/jasny-bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="/static/assets/css/jasny-bootstrap.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --><!-- 
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="Job" ng-controller="jobCtrl" > -->
<div ng-app="Job" ng-controller="jobCtrl">
	<h2 class="sub-header">Jobs</h2>
	<div class="table-responsive col-md-5">
		<div class="panel-body">
			<div>
				<label class="checkbox-inline" ng-repeat="state in getStates()">
					<input type="checkbox" ng-model="filters[state]">{{'{{state}'}}}</input>
				</label>
			</div>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Status</th>
					<th>State</th>
					<!-- <th>Process</th> -->
					<th>Start Date</th>
					<th>End Date</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="9" class="text-center">Total: {{'{{filterState.length}'}}}</td>
				</tr>
			</tfoot>
			<tbody data-link="row" class="rowlink">
				<tr ng-repeat="job in (job_list | filter:filterByState) as filterState" >
					<td><a href="#rowlinkModal" data-toggle="modal" data-target="#modal{{'{{job.jid}'}}}" ng-click="moreinfo(job.jid)">{{'{{$index + 1}'}}}</a></td>
					<td>{{'{{job.jname}'}}}</td>
					<td>{{'{{job.status}'}}}</td>
					<td>{{'{{job.state}'}}}</td>
					<!-- <td>{{'{{job.prog}'}}}</td> -->
					<td>{{'{{job.startdate}'}}}</td>
					<td>{{'{{job.enddate}'}}}</td>
					<!-- Modal -->
				</tr>
			</tbody>
		</table>
	</div>
	<div class="colpadding col-md-7 body-right" ng-show="clickrow" >
		<!-- tab content -->
		<div class="panel panel-default">
			<div class="panel-heading">
	 			<h4>{{'{{workflow[0].jobname}'}}}</h4>
	 		</div>
	 		<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_log" data-toggle="tab">Logs</a></li>
					<li><a href="#tab_param" data-toggle="tab">Params</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_log">
				 		<div class="content">
				 			<table class="table table-panel table-bordered table-hover table-striped">
				 				<thead>
			 						<th><label><span>Severity</span></label></th>
			 						<th><label><span>Catogory</span></label></th>
			 						<th><label><span>Node ID</span></label></th>
			 						<th><label><span>Resource</span></label></th>
			 						<th><label><span>Descriptipn</span></label></th>
			 						<th><label><span>Raising Date</span></label></th>
			 						<th><label><span>Cealrning Date</span></label></th>
				 				</thead>
				 				<tbody>
				 					<tr ng-repeat="log in lstLogJob">
					 					<td><span>{{'{{log.sev}'}}}</span></td>
					 					<td><span>{{'{{log.cat}'}}}</span></td>
					 					<td><span>{{'{{log.nid}'}}}</span></td>
					 					<td><span>{{'{{log.res}'}}}</span></td>
					 					<td><span>{{'{{log.desc}'}}}</span></td>
					 					<td><span>{{'{{log.opdate | date:"dd-M-yyyy H:mm" }'}}}</span></td>
					 					<td><span>{{'{{log.cldate | date:"dd-M-yyyy H:mm" }'}}}</span></td>
				 					</tr>
				 				</tbody>
				 			</table>
				 		</div>
					</div>
					<div class="tab-pane" id="tab_param">
				 		<div class="content" ng-show="showpara">
				 			<table class="table table-panel table-bordered table-hover table-striped">
				 				<tbody>
				 					<tr>
				 						<td class="td-left"><label>Workflow</label></td>
				 						<td class="td-right"><span>{{'{{workflow[0].workflowIdRef}'}}}</span></td>
				 					</tr>
				 					<tr ng-repeat="param in workflow[0].params">
				 						<td class="td-left"><label>{{'{{param.name}'}}}</label></td>
				 						<td class="td-right">{{'{{param.value}'}}}</td>
				 					</tr>
				 				</tbody>
				 			</table>
				 		</div>
					</div>
				</div>
			</div><!-- tab content -->
		</div>
	</div>
	<!-- Modal -->
	<!-- <div ng-repeat="job in (job_list | filter:filterByState)">
	<div id="modal{{'{{job.jid}'}}}" class="modal fade" role="dialog">
		<div class="modal-dialog"> -->
			<!-- Modal content -->
		    <!-- <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">{{'{{workflow[0].jobname}'}}}</h4>
		      </div>
		      <div class="modal-body">
		        <p>{{'{{workflow[0].workflowIdRef}'}}}</p>
		        <p ng-repeat="param in workflow[0].params"><label>{{'{{param.name}'}}} :</label>&nbsp {{'{{param.value}'}}}</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		</div>
	</div> -->
	<!-- </div> -->
</div>
<script>
	var app = angular.module('Job',[]);
	app.controller("jobCtrl", function ($scope,$http,$timeout){
		$scope.reload = function () {
			$scope.total = 0;
			$http.get('/job/api/job').
			then(function (response) {
				$scope.job_list = response.data;
				$scope.total = $scope.job_list.length
				console.log($scope.job_list);
			});
			$timeout(function(){
				// $scope.reload();
			},10000)
		};
		// Fiter By State checkbox
		$scope.filters = {};
		//function
		$scope.filterByState = function(job){
			return $scope.filters[job.state] || noFilter($scope.filters);
		};
		$scope.getStates = function(){
			return ($scope.job_list || []).map(function(job){return job.state;}).filter(function (cat, idx, arr) { return arr.indexOf(cat) === idx;});
		};
		function noFilter(filterObj){
			return Object.keys(filterObj).every(function(key){return !filterObj[key];});
		}
		//end filter
		$scope.reload();
		$scope.moreinfo = function(jobID){
			// console.log(jobID);
			$http.get('/job/api/job/'+jobID+'/').then(function(response){
				$scope.workflow = response.data;
				console.log($scope.workflow);
			});
			$http.get('/log/api/'+jobID+'/').then(function(response){
				$scope.lstLogJob = response.data;
				console.log($scope.lstLogJob);
			});
			$scope.clickrow = true;
			$scope.showpara = true;
		}
	});
</script>
{% endblock %}