<div class="content">
    <div class="table-responsive col-md-4">
        <h2 class="sub-header">Jobs &nbsp;&nbsp; {{'{{host}'}}}</h2>
        <div class="panel-body">
            <div>
                <label class="checkbox-inline" ng-repeat="state in getStates()">
                    <input type="checkbox" ng-model="filters[state]">{{'{{state}'}}}</input>
                </label>
            </div>
        </div>
        <div class="wrapper" style="overflow-y: scroll;">
            <table class="table table-bordered table-hover table-striped scrollTable">
                <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Status</th>
                        <th class="col-md-1">State</th>
                        <th class="col-md-2">Workflow</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">Total: {{'{{filterState.length}'}}}</td>
                    </tr>
                </tfoot>
                <tbody data-link="row" class="rowlink">
                    <tr ng-repeat="job in (job_list | filter:filterByState | orderBy: jid) as filterState" ng-click="moreinfo(job.jid)">
                        <td class="col-md-1"><a href="#rowlinkModal" data-toggle="modal" data-target="#modal{{'{{job.jid}'}}}">{{'{{job.jid}'}}}</a></td>
                        <td class="col-md-3"><sapn>{{'{{job.jname}'}}}</sapn></td>
                        <td class="col-md-1"><span>{{'{{job.status}'}}}</span></td>
                        <td class="col-md-1" ng-class="{'running': job.state == 'Running', 'aborted': job.state == 'Aborted', 'watting': job.state == 'Watting', 'paused': job.state == 'Paused', 'completed': job.state == 'Completed'}"><span>{{'{{job.state}'}}}</span></td>
                        <td class="col-md-2"><span>{{'{{job.wname}'}}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="colpadding col-md-8 body-right table-responsive">
        <!-- tab content -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{'{{workflow[0].jobname}'}}}</h4>
            </div>
            <div class="panel-body table-responsive">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_log" data-toggle="tab">Logs</a></li>
                    <li><a href="#tab_param" data-toggle="tab">Params</a></li>
                    <!-- <li><a href="#tab_addJob" data-toggle="tab">Add Job</a></li> -->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_log">
                        <div class="wrapper wrapper-panel" style="overflow-y: scroll;">
                            <table class="table table-panel table-bordered table-hover table-striped scrollTable">
                                <thead>
                                    <th style="width: 5%;"><label><span>Severity</span></label></th>
                                    <th><label><span>Catogory</span></label></th>
                                    <th><label><span>Node ID</span></label></th>
                                    <th style="width: 20%;"><label><span>Resource</span></label></th>
                                    <th style="width: 20%;"><label><span>Descriptipn</span></label></th>
                                    <th><label><span>Raising Date</span></label></th>
                                    <th><label><span>Cealrning Date</span></label></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="log in lstLogJob">
                                        <td><span>{{'{{log.sev}'}}}</span></td>
                                        <td><span>{{'{{log.cat}'}}}</span></td>
                                        <td><span>{{'{{log.nid}'}}}</span></td>
                                        <td><span>{{'{{log.res}'}}}</span></td>
                                        <td><span>{{'{{log.desc}'}}}</span></td>
                                        <td><span>{{'{{log.opdate | date:"dd-M-yyyy H:mm:ss" }'}}}</span></td>
                                        <td><span>{{'{{log.cldate | date:"dd-M-yyyy H:mm:ss" }'}}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_param">
                        <div class="content">
                            <table class="table table-panel table-bordered table-hover table-striped " ng-show="clickrow">
                                <tbody>
                                    <tr>
                                        <td class="td-left"><label>Workflow</label></td>
                                        <td class="td-right"><span>{{'{{workflow[0].workflowIdRef}'}}}</span></td>
                                    </tr>
                                    <tr ng-repeat="param in workflow[0].params">
                                        <td class="td-left"><label>{{'{{param.name}'}}}</label></td>
                                        <td class="td-right"><i ng-class="{'glyphicon glyphicon-ok': param.value ==  'true', 'glyphicon glyphicon-remove': param.value =='false'}"></i><span ng-hide="param.value ==  'true' || param.value == 'false'">{{'{{param.value}'}}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- tab content -->
        </div>
    </div>
</div>