<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js"></script>
<link href="/static/assets/css/checkbox.css" rel="stylesheet"></link>
<div class="col-md-11" ng-class="{'container-loadding':isLoad,'container-loadding-hide':!isLoad}">
        {%include "../loading.html"%}
</div>
<div class="content colpadding" ng-class="{'main-loader':isLoad, 'colpadding':!isLoad}" ng-controller="jobCtrl">
    <!-- job manager -->
    <div class="table-responsive colpadding col-md-5">
        <h2 class="sub-header">Jobs &nbsp;&nbsp; {{'{{host}'}}} <span style="font-size: 20px;">Total jobs: {{'{{total}'}}}</span></h2>
        <div class="panel-body">
            <div class="col-md-8">
                <label class="checkbox-inline" ng-repeat="state in getStates()">
                    <input type="checkbox" ng-model="filters[state]">{{'{{state}'}}}</input>
                </label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" style="padding: 2px 11px;"><i class="glyphicon glyphicon-search"></i></span>
                    <input style="height: 24px;" type="text" class="form-control" placeholder="Search..." ng-model="search">
                </div>
            </div>
        </div>
        <div class="wrapper table-responsive" style="overflow-y: scroll;">
            <table class="table table-bordered table-hover table-striped scrollTable" id='table_job'>
                <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-1">Status</th>
                        <th class="col-md-1">State</th>
                        <th class="col-md-3">Workflow</th>
                        <th class="col-md-1">Edit</th>
                        <th class="col-md-1">is_Auto</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">Total: {{'{{filterState.length}'}}}</td>
                    </tr>
                </tfoot>
                <tbody class="rowlink">
                    <tr ng-repeat="job in (job_list | filter:filterByState | filter:search | orderBy: jid) as filterState" ng-click="moreinfo(job.jid, job.iauto)">
                        <td class="col-md-1"><span>{{'{{job.jid}'}}}</span></td>
                        <td class="col-md-4"><sapn>{{'{{job.jname}'}}}</sapn></td>
                        <td class="col-md-1"><span>{{'{{job.status}'}}}</span></td>
                        <td class="col-md-1" ng-class="{'running': job.state == 'Running', 'aborted': job.state == 'Aborted', 'watting': job.state == 'Watting', 'paused': job.state == 'Paused', 'completed': job.state == 'Completed'}"><span>{{'{{job.state}'}}}</span></td>
                        <td class="col-md-3"><span>{{'{{job.wname}'}}}</span></td>
                        <td class="col-md-1 col-edit">
                            <div style="display: inline-flex;">
                                
                            </div>
                        </td>
                        <td class="col-md-1">
                                <label class="container-checkbox" title="Auto Return Main">
                                <input type="checkbox" ng-checked="job.iauto" ng-disabled="true">
                                <span class="checkmark" ng-disabled="true"></span>
                          </label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- log and param -->
    <div class=" table-responsive colpadding col-md-7 body-right">
        <!-- tab content -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{'{{workflow[0].jobname}'}}}</h4>
                </div>
                <div class="panel-body table-responsive">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_log" data-toggle="tab">Logs</a></li>
                        <li><a href="#tab_param" data-toggle="tab">Params</a></li>
                        <li><a href="#tab_auto" data-toggle="tab">Is Auto</a></li>
                        <!-- <li><a href="#tab_addJob" data-toggle="tab">Add Job</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_log">
                            <div class="wrapper wrapper-panel" style="overflow-y: scroll;">
                                <table class="table table-panel table-responsive table-bordered table-hover table-striped scrollTable">
                                    <thead>
                                        <th style="width: 5%;"><label><span>Severity</span></label></th>
                                        <th><label><span>Catogory</span></label></th>
                                        <th><label><span>Node ID</span></label></th>
                                        <th style="width: 20%;"><label><span>Resource</span></label></th>
                                        <th style="width: 20%;"><label><span>Descriptipn</span></label></th>
                                        <th><label><span>Raising Date</span></label></th>
                                        <th><label><span>Cleaning Date</span></label></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="log in lstLogJob">
                                            <td><div class="serverily {{'{{log.sev}'}}}"></div></td>
                                            <td><span>{{'{{log.cat}'}}}</span></td>
                                            <td><span>{{'{{log.nid}'}}}</span></td>
                                            <td><span>{{'{{log.res}'}}}</span></td>
                                            <td><span>{{'{{log.desc}'}}}</span></td>
                                            <td><span ng-if="log.opdate">{{'{{log.opdate*1000 | date:"dd-M-yyyy H:mm:ss" }'}}}</span></td>
                                            <td><span ng-if="log.cldate">{{'{{log.cldate*1000 | date:"dd-M-yyyy H:mm:ss" }'}}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_param">
                            <div class="content">
                                <table class="table table-panel table-bordered table-hover table-striped" ng-show="clickrow">
                                    <tbody>
                                        <tr>
                                            <td class="td-left"><label>Workflow</label></td>
                                            <td class="td-right"><span>{{'{{workflow[0].workflowIdRef}'}}}</span></td>
                                        </tr>
                                        <tr ng-repeat="param in workflow[0].params">
                                            <td class="td-left"><label>{{'{{param.name}'}}}</label></td>
                                            <td class="td-right"><i ng-class="{'glyphicon glyphicon-ok': param.value ==  'true', 'glyphicon glyphicon-remove': param.value =='false'}"></i><span ng-hide="param.value ==  'true' || param.value == 'false'">{{'{{param.value}'}}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_auto">
                            <div class="wrapper wrapper-panel">
                                <p style="margin-top: 20px; padding-left: 20px;" ng-show="isShow">
                                    <label class="container-checkbox" title="Auto Return Main">Auto return main for job {{'{{jobauto.jid}'}}}
                                        <input id="chkauto-{{'{{jobauto.jid}'}}}" ng-model="ischecked" type="checkbox" ng-change="isAuto(jobauto.jid)">
                                        <span class="checkmark"></span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- tab content -->
    </div>
    <!-- Modal Stop-->
      <div class="modal fade" id="modal-stop-{{'{{host}'}}}" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                </div>
                <form method="post" id="frm-modal-stop-{{'{{host}'}}}" onsubmit="return valiCaptcha('widgetStop')" ng-submit="stopJob(job_id,node_id)">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                        </div>
                        <div class="simple-captcha" id="widgetStop"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" name="Continue">Continue</button>
                        <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
      </div>
    <!-- End Modal -->
    <!-- Modal Reset-->
        <div class="modal fade" id="modal-restart-{{'{{host}'}}}" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                  </div>
                  <form method="post" id="frm-modal-restart-{{'{{host}'}}}" onsubmit="return valiCaptcha('widgetRestart')" ng-submit="restartJob(job_id)">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                        </div>
                        <div class="simple-captcha" id="widgetRestart">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" name="resetart" value="Continue">Continue </button>
                        <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                    </div>
                  </form>
              </div>
            </div>
        </div>
    <!-- End Modal -->
    <!-- Modal Start-->
        <div class="modal fade" id="modal-start-{{'{{host}'}}}" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" style="color:red;" ng-bind-html="txtHeader"></h4>
                  </div>
                  <form method="post" id="frm-modal-start-{{'{{host}'}}}" onsubmit="return valiCaptcha('widgetStart')" ng-submit="startJob(job_id)">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: center; font-size: 15px;" ng-bind-html='txtBody'>
                        </div>
                        <div class="simple-captcha" id="widgetStart">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" name="resetart" value="Continue">Continue </button>
                        <input class="btn btn-primary" type="button" data-dismiss="modal" value="Cancel">
                    </div>
                  </form>
              </div>
            </div>
        </div>
    <!-- End Modal -->
</div>
<script type="text/javascript" src="/static/assets/js/captcha/simple-captcha.min.js"></script>