{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="Log" ng-controller="logCtrl"> -->
<script type="text/javascript" src="/static/assets/js/jquery.floatThead.min.js"></script>
<div ng-app="Log" ng-controller="logCtrl">
    <div class="content">
        <!-- ####Header#### -->
        <div class="col-md-12">
            <div class="col-md-1">
                <h2 class="sub-header">Logs</h2>
            </div>
            <div class="col-md-11">
                <div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search..." ng-model="search">
                    </div>
                </div>
            </div>
        </div>
        {{'{{nowDate}'}}}
        <div class="col-md-12">
            <div style="margin-top:10px; margin-bottom:10px;">
                <div class="input-group">
                    <label class="checkbox-inline" ng-repeat="sev in getSevs()">
                    <input type="checkbox" ng-model="filters[sev]">{{'{{sev}'}}}</input>
                </label>
                </div>
            </div>             
        </div>
        <!-- ####Body#### -->
        <div class="wrapper" style="overflow-y: scroll;">
            <table class="table table-bordered table-hover table-striped scrollTable">
                <thead class="width-col-default">
                    <tr>
                        <th style="width: 4%;">#</th>
                        <th style="width: 2%;">Serverily</th>
                        <th style="width: 2%;">Node</th>
                        <th style="width: 20%;">Resource</th>
                        <th style="width: 20%;">Description</th>
                        <th style="width: 10%;">Open date</th>
                        <th style="width: 10%;">Clean date</th>
                        <th style="width: 4%;">Job ID</th>
                        <th style="width: 8%;">Job name</th>
                    </tr>
                </thead>
                <tbody class="width-col-default">
                    <tr ng-repeat="log in log_list | filter:search | filter:filterBySev | orderBy: '-opdate'" ng-class="{'warning': nowDate-opdate<=180000}">
                        <td style="width: 4%;"><span>{{'{{$index + 1}'}}}</span></td>
                        <td style="width: 2%;"><span>{{'{{log.sev}'}}}</span></td>
                        <td style="width: 2%;"><span>{{'{{log.nid}'}}}</span></td>
                        <td style="width: 20%;"><span>{{'{{log.res}'}}}</span></td>
                        <td style="width: 20%;"><span>{{'{{log.desc}'}}}</span></td>
                        <td style="width: 10%;"><span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span></td>
                        <td style="width: 10%;"><span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span></td>
                        <td style="width: 4%;"><span>{{'{{log.jid}'}}}</span></td>
                        <td style="width: 10%;"><span>{{'{{log.jname}'}}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-center">Total: {{'{{log_list.length}'}}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    var app = angular.module('Log',[]);
    app.controller("logCtrl", function ($scope,$http,$timeout){
        $scope.reload = function () {
        	$scope.nowDate = +new Date();
            $http.get('/log/api/log').
            then(function (response) {
                $scope.log_list = response.data;
                $scope.total = $scope.log_list.length;
                console.log($scope.log_list);
            });
            // console.log($scope.nowDate);
            $timeout(function(){
                // $scope.reload();
            },10000)
        };
    // Fiter By State checkbox
        $scope.filters = {};
        //function
        $scope.filterBySev = function(job){
            return $scope.filters[job.sev] || noFilter($scope.filters);
        };
        $scope.getSevs = function(){
            return ($scope.log_list || []).map(function(job){return job.sev;}).filter(function (cat, idx, arr) { return arr.indexOf(cat) === idx;});
        };
        function noFilter(filterObj){
            return Object.keys(filterObj).every(function(key){return !filterObj[key];});
        }
    //end filter
    // warrning time log
    	
    // end warrning
        $scope.reload();
    });
</script>
<script type="text/javascript">
    var $scroll = $('table.scrollTable');
    $scroll.floatThead({
        scrollContainer: function($table){
        return $table.closest('.wrapper');
        }
    });
</script>
{% endblock %}
