{% extends 'base.html' %}
{% block content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="Log" ng-controller="logCtrl"> -->
<div ng-app="Log" ng-controller="logCtrl">
	<div>
		<div max-width="40%">
			<h2 class="sub-header">Logs</h2>
		</div>

		<div max-width="60%" style="margin-bottom:10px;">
			<!-- <div  max-width="30%" class="form-group">
			  <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
			    <select select ng-model="sev" class="form-control selectpicker" name="sev">
			      <option value="">Serverily</option>
			      <option value="Critical">Critical</option>
			      <option value="Info">Info</option>
			      <option value="Major">Major</option>
			    </select>

			  </div>
			</div> -->
			<div max-width="30%" class="form-group">
			  <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			    <input type="text" class="form-control" placeholder="Search..." ng-model="search">
			  </div>
			</div>
			<div class="input-group">
				<label class="checkbox-inline" ng-repeat="sev in getSevs()">
				<input type="checkbox" ng-model="filters[sev]">{{'{{sev}'}}}</input>
			</label>
			</div>
		</div>
	</div>
	<div class="">
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Serverily</th>
					<th>Node ID</th>
					<th>Resource</th>
					<th>Description</th>
					<th>Job ID</th>
					<th>Job name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="log in log_list | filter:search | filter:filterBySev">
					<td><span>{{'{{$index + 1}'}}}</span></td>
					<td ><span>{{'{{log.sev}'}}}</span></td>
					<td ><span>{{'{{log.nid}'}}}</span></td>
					<td class="col-md-4"><span>{{'{{log.res}'}}}</span></td>
					<td class="col-md-4"><span>{{'{{log.desc}'}}}</span></td>
					<td><span>{{'{{log.jid}'}}}</span></td>
					<td class="col-md-1"><span>{{'{{log.jname}'}}}</span></td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="8" class="text-center">Total: {{'{{total}'}}}</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
<script>
	var app = angular.module('Log',[]);
	app.controller("logCtrl", function ($scope,$http,$timeout){
		$scope.reload = function () {
			$scope.total = 0;
			$http.get('/log/api/log').
			then(function (response) {
				$scope.log_list = response.data;
				$scope.total = $scope.log_list.length;
				console.log($scope.log_list);
			});
			$timeout(function(){
				$scope.reload();
			},10000)
		};
	// Fiter By State checkbox
		$scope.filters = {};
		//function
		$scope.filterBySev = function(job){
			return $scope.filters[job.sev] || noFilter($scope.filters);
		};
		$scope.getSevs = function(){
			return ($scope.log_list || []).map(function(job){return job.sev;}).filter(function (cat, idx, arr) { return arr.indexOf(cat) === idx;});
		};
		function noFilter(filterObj){
			return Object.keys(filterObj).every(function(key){return !filterObj[key];});
		}
		//end filter
		$scope.reload();
	});
</script>
{% endblock %}
