<div class="content">
    <!-- ####Header#### -->
    <div class="col-md-12">
        <div class="col-md-3">
            <h2 class="sub-header">Logs {{'{{host}'}}}</h2>
        </div>
        <div class="col-md-9">
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search..." ng-model="search">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-top:10px; margin-bottom:10px;">
            <div class="input-group">
                <label class="checkbox-inline" ng-repeat="sev in getSevs()">
                <input type="checkbox" ng-model="filters[sev]">{{'{{sev}'}}}</input>
            </label>
            </div>
        </div>             
    </div>
    <!-- ####Body#### -->
    <div class="wrapper" style="overflow-y: scroll;">
        <table class="table table-bordered table-hover table-striped scrollTable">
            <thead class="width-col-default">
                <tr>
                    <th style="width: 2%;">#</th>
                    <th style="width: 2%;">Serverily</th>
                    <th style="width: 2%;">Node</th>
                    <th style="width: 20%;">Resource</th>
                    <th style="width: 22%;">Description</th>
                    <th style="width: 10%;">Open date</th>
                    <th style="width: 10%;">Clean date</th>
                    <th style="width: 4%;">Job ID</th>
                    <th style="width: 8%;">Job name</th>
                </tr>
            </thead>
            <tbody class="width-col-default">
                <tr ng-repeat="log in log_list | filter:search | filter:filterBySev | orderBy: '-opdate'" ng-class="{'warning': nowDate-opdate<=60000}">
                    <td style="width: 2%;"><span>{{'{{$index + 1}'}}}</span></td>
                    <td style="width: 2%;"><div class="serverily {{'{{log.sev}'}}}"></div></td>
                    <td style="width: 2%;"><span>{{'{{log.nid}'}}}</span></td>
                    <td style="width: 20%;"><span>{{'{{log.res}'}}}</span></td>
                    <td style="width: 22%;"><span>{{'{{log.desc}'}}}</span></td>
                    <td style="width: 10%;"><span>{{'{{log.opdate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span></td>
                    <td style="width: 10%;"><span>{{'{{log.cldate | date:"dd-MM-yyyy HH:mm:ss"}'}}}</span></td>
                    <td style="width: 4%;"><span>{{'{{log.jid}'}}}</span></td>
                    <td style="width: 10%;"><span>{{'{{log.jname}'}}}</span></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-center">Total: {{'{{log_list.length}'}}}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>