/*Hover table*/
.table-hover tbody tr:hover {
  background-color: #419BE8;
  color: #fff; }
  .table-hover tbody tr:hover td {
    background-color: #419BE8; }
.table-hover.rowlink tr:hover {
  background-color: #419BE8; }

/*####Table####*/
table {
  background-color: #fff; }

.table-bordered {
  border: 1px solid #a8a1a1; }
  .table-bordered tbody tr td {
    border: 1px solid #a8a1a1; }
  .table-bordered tbody tr th {
    border: 1px solid #a8a1a1; }
  .table-bordered thead tr th {
    border: 1px solid #a8a1a1; }
  .table-bordered thead tr td {
    border: 1px solid #a8a1a1; }

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #dff0d8;
  color: #3c763d; }
  .table-striped tbody tr:nth-of-type(2n+1):hover {
    color: #fff; }

.table-panel {
  margin-bottom: 0px; }

/*sroll table*/
table.scroll tbody, table.scroll thead {
  display: block; }
  table.scroll tbody tr:after, table.scroll thead tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both; }

/*table.scroll tr{
	display: inline-table;
	table-layout: fixed;
}*/
table.scroll tbody {
  height: 800px;
  overflow-y: scroll;
  /*position: absolute;*/ }

/*Panel style*/
.panel-default {
  border-color: #337ab7; }
  .panel-default .panel-heading {
    color: #fff;
    background-color: #337ab7;
    text-align: center; }

/*Body layout*/
body {
  font-size: 12.5px;
  background-color: #EDEFF2; }

.body-right .td-left {
  text-align: right; }
.body-right .td-right {
  text-align: left; }

.nav .menu .head-menu {
  background-color: #337ab7;
  color: #fff; }
.nav .menu .sub-menu {
  margin-left: 10px; }
.nav li a:hover {
  background-color: #419BE8;
  color: #fff; }
.nav li a:focus {
  background-color: #419BE8;
  color: #fff; }

.nav-tabs li.active a {
  color: #e1e7e9;
  background-color: #337ab7; }
  .nav-tabs li.active a:focus {
    background-color: #337ab7;
    color: #e1e7e9; }

.sidebar {
  border-color: #101010;
  background-color: #333; }

/* Specify styling for tooltip contents */
.tooltip-inner {
  max-width: none;
  max-height: none;
  background-color: #337ab7;
  color: #fff; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #337ab7;
  left: 15%; }

.tooltip .showinfo {
  text-align: left;
  font-size: 15px; }

/*Modal style*/
.modal-title {
  text-align: center; }

.modal-header {
  background-color: whitesmoke;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

/*system style*/
.row-head {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #337ab7;
  margin-bottom: 11px; }
  .row-head h4 {
    color: #fff;
    text-align: center; }

.colpadding {
  padding-right: 5px;
  padding-left: 5px; }

.content {
  padding: 0px; }

/*progressbar*/
.progress {
  text-align: center;
  height: 30px;
  margin-bottom: 0px; }
  .progress div {
    height: 100%;
    padding: 5px; }

/*# sourceMappingURL=main.css.map */
